label {
    padding: 50px;
    text-align: center;
}

input {
    padding: 5px;
    height: 15px;
    width: 150px;
    text-align: center;
}

button {
    text-align: center;
    margin-left: 100px;
}