<p>register-form works!</p>
<form>
    <div class="col text-center">
        <span>Register Form</span>
    </div>
    <div class="row">
        <div class="col md-1">
            <label for="firstname" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname">
        </div>
        <div class="col">
            <label for="lastname" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
        </div>
        <div class="col">
            <label for="middlename" class="form-label">Midddle Name:</label>
            <input type="text" class="form-control" id="middlename" formControlName="middlename">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="email" class="form-label">Email Address:</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="mobile" class="form-label">Mobile Number:</label>
            <input type="text" class="form-control" id="mobile" formControlName="mobile">
        </div>
        <div class="col">
            <div class="m-1">Gender</div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="m" id="male" formControlName="gender">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="m" id="female" formControlName="gender">
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>